<template>
  <container grid="md">
    <columns>
      <column col="6" sm="6" md="12">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
          laboriosam quo dolores sed fuga similique! Sunt ipsum sint fuga
          possimus!
        </p>
      </column>
      <column col="6" sm="6" md="12">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
          similique corporis, facilis non a earum fugiat molestias nisi dolor
          impedit deleniti quod consectetur, ipsum animi officia praesentium sit
          autem quas.
        </p>
      </column>
      <column col="6" sm="8" md="8" style="margin: 0 auto">
        <accordion
          style="border: 2px solid;  border-radius: 10px 15px"
          :items="items"
          icon="icon-arrow-right"
          multiple
        />
      </column>
      <column col="6" sm="10" md="8" class="mt-2" style="margin: 0 auto">
        <panel>
          <h5 slot="header">Hello</h5>
          <tile slot="body" :avatar="require('../assets/ronin.jpg')">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequatur, id! Beatae rem laudantium saepe, fugiat eveniet
              quaerat omnis debitis quam libero, cumque obcaecati modi eius
              quidem aliquid excepturi repudiandae facere in fugit accusamus
              placeat quisquam consectetur. Modi quasi veniam delectus.
            </p>
          </tile>
          <btn slot="footer" size="block" type="primary">Hide</btn>
        </panel>
      </column>
    </columns>
  </container>
</template>

<script>
export default {
  data: () => ({
    items: {
      Chapter1: "The story begins",
      Chapter2: "The thig continues and we shll tell you more"
    }
  })
};
</script>

<style></style>
