<template>
  <div>
    <container grid="lg">
      <h1>R0N1n</h1>
    </container>
    <column col="8" style="margin: 1rem auto">
      <card style="background-color: lightblue; border-radius: 15px">
        <card-header>
          <h2>Welcome</h2>
        </card-header>
        <card-body>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam,
          magnam?
        </card-body>
        <card-footer>
          <btn type="success" @click="modal = !modal"
            ><i class="cap-icon ci-terminal"></i> Modal</btn
          >
        </card-footer>
      </card>
    </column>

    <modal v-model="modal">
      <h2 slot="header">Welcome</h2>
      <p slot="body">PWA template made by a shinobi</p>
    </modal>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data: () => ({
    modal: false
  })
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
