<template>
  <div class="sidebar">
    <off-canvas :sidebar="false" icon="apps" overlay="0.5" close-on-overlay>
      <template #sidebar>
        <div>
          <img src="../assets/ronin2.png" alt="logo" style="border-radius: 50%; margin-top: 1rem; height: 100px; width: 100px" />
        </div>
        <p class="mt-3" style="font-weight: 600">R0N1n-dev</p>
        <!--  <div>
            <btn type="link">Home</btn>
          </div>
          <div>
            <btn type="link">About</btn>
          </div>-->
        <div>
          <navigation>
            <navigation-item>
              <router-link to="/">
                <btn type="link"><i class="mr-2 cap-icon ci-home"></i>Home</btn>
              </router-link>
            </navigation-item>
            <navigation-item>
              <router-link to="/about">
                <btn type="link"><i class="mr-2 cap-icon ci-terminal"></i>About</btn>
              </router-link>
            </navigation-item>
          </navigation>
        </div>
      </template>
      <template #content>
        <span style="font-weight: bold; margin: 0 auto">R0N1n-Vectre</span>
      </template>
    </off-canvas>
  </div>
</template>

<script>
export default {
  data: () => ({}),
};
</script>

<style scoped>
.router-link-exact-active {
  font-weight: 600;
}
</style>
