<template>
  <div id="app">
    <div>
      <TheNavbar />
    </div>
    <div class="upBtn " v-if="updateExists">
      <toast type="primary" icon="download" closable style="width: 40vw; margin: 0 auto">
        <template #title>
          Update
        </template>
        <template #content>
          New content available
        </template>
        <template #action>
          <btn @click="refreshApp" action type="link" icon="refresh" />
        </template>
      </toast>
    </div>
    <img alt="Vue logo" src="./assets/ronin2.png" style="height: 100px; width: 100px; border-radius: 50%" class="mt- 4" />
    <div>
      <router-view></router-view>
    </div>

  </div>
</template>

<script>
import TheNavbar from "./components/TheNavbar";

export default {
  name: "App",
  components: { TheNavbar },
  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false,
    };
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
